.item {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding-top: 5px;
  padding-bottom: 5px;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.status {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}

.offline {
  background-color: red;
}

.online {
  background-color: darkgreen;
}

.name {
  margin-left: 10px;
}