.item {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 5px 25px;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.status {
  display: block;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}

/* .offline {
  background-color: red;
}

.online {
  background-color: darkgreen;
} */

.online::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(46, 146, 28);
}

.offline::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(155, 36, 36);
}

.name {
  margin-left: 10px;
}
